.custom-bg-color {
    background-color: rgba(219, 81, 81, 0.7);
}

.heroimg {
    background-image: url(1111.jpeg);
    background-size: cover;
}

.custom-dropdown-bg {
    background-color: rgba(219, 81, 81, 0.7);
    /* opacity: 0.75; 透明度 */
}

.custom-dropdown-bg .dropdown-item:hover {
    color: rgb(85, 22, 22);
   
    text-shadow: 2px 2px 4px rgba(137, 18, 18, 0.5);
    
    font-size: 1.1em;
    
}



.text-yume {
    color: rgb(243, 217, 195);
}

.text-ymw {
    color: rgb(230, 213, 191);
}

.bg-opacity {
    background-color: rgba(219, 81, 81, 0.7);
}

.rounded {
    border-radius: 30px;
   
}

.text-center {
    text-align: center;
   
}

.ymw-color {
    margin: 0;
    
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: transparent;
}


.carousel-control-prev {
    left: -40px;
}

.carousel-control-next {
    right: -40px;
}

.card-col {
    width: 100%; 
    max-width: 100%; 
    margin: 0 auto; 
   
}



.card {
    height: 100%; 
}


.card-body {
    display: flex;
    flex-direction: column;
   
}


/*
.btn-monkey {
    background-color: brown;
    color: #fff;
}

.btn-monkey:hover {
    background-color: rgb(198, 83, 83);
    color: #fff;
}
*/
.card {
    transition: all .4s;
}

.card:hover {
    
    box-shadow: 5px 5px 5px #e2e2e2;
}
.btn{
    color: #eed8d8;
    background: #cb5d5d;
    
}


.dd{
    color: #deded5;
    
}
.img-large {
    width: 100%;
    height: auto;
    margin-top: 80px; 
}

.col-ab{
    width: 80%;
    height: auto;
    margin-top: 120px;
    text-align: center;
    
}
.col-abb{
    width: 50%;
    height: auto;
    margin-top: 120px;
    text-align: center;
    
}